<h2>{{pirate.name}}</h2>
<hr>
    <ul>
        <li>Birthplace: {{pirate.birthplace}}</li>
        <br>
        <li>Died: {{pirate.death_year}}</li>
        <br>
        <li>Based: {{pirate.base}}</li>
        <br>
        <li>Nickname: {{pirate.nickname}}</li>
    </ul>

    <a href="/pirates">Back to Pirates</a>


