<h2>{{pirate.name}}</h2>
    <ul>
        <li>Birthplace: {{pirate.birthplace}}</li>
        <li>Died: {{pirate.death_year}}</li>
        <li>Based: {{pirate.base}}</li>
        <li>Nickname: {{pirate.nickname}}</li>
    </ul>

<a href="/pirates/new">See a new pirate!</a>